.mainField{
  justify-content: center;

  #companies {
    text-align: center;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 70%;
    margin: 15px 0;
    td, th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      font-weight: 700;
      background-color: #4CAF50;
      color: white;
    }
    th:hover{
      cursor: pointer;
    }
  }
}