@import "./settings/_fonts.scss";
@import "./settings/_reset.scss";
@import "./elements/header.scss";
@import "elements/table";
@import "elements/footer";

*{
  box-sizing: border-box;
}

body {
  font-family: $font-base;
}
.flex-box{
  display: flex;
}
